*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #000000;
    color: #ffffff;
}


header{
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px #000000;
}

header ul li a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.bj-blue-header{
    background: url(../img/img-header.png) no-repeat center center/cover;
    text-align: center;
    padding: 9.9%;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 70px;
}

.bj-blue-header p{
    font-size: 20px;
}

section{
    margin: 80px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

.center-info{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.center-info div{
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 15px;
}

.center-info-2{    
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}

.center-info-2{
    background-color: #f2f2f2;
    color: #000000;
    text-align: center;
    padding: 15px;
}

.join-discord{
    background: linear-gradient(to left, #000879, #1500ce);
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.join-discord a{
    color: #ffffff;
}

footer{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

footer div{
    background-color: #141414;
    padding: 10px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

footer div li a{
    color: #999999;
    font-family: 'Roboto', sans-serif;
}
footer div li a:hover{
    color: #ffffff;
}

.footer{
    color: #999999;
    text-align: center;
    background-color: #141414;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}