*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #1e1e1e;
    color: #ffffff;
}


header{
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px #000000;
}

header ul li a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.warning{
    background-color: #9e0b00;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    position: fixed;
    top: 85%;
    border: solid 1px #a10b00;
}

.warning:hover{
    transition: 300ms;
    box-shadow: 2px 2px 20px #000000;
}

.bj-blue-header{
    background: url(../source/img/Iceberg.png) no-repeat center center/cover;
    text-align: center;
    padding: 9.9%;
    margin: 10px;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.bj-blue-header p{
    font-size: 20px;
}

section{
    margin: 80px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

.center-info{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #1e1e1e;
}

.center-info div{
    background-color: #272727;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.center-info-2{    
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    background-color: #1e1e1e;
}

.center-info-2 div{
    background-color: #272727;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.join-discord{
    background: linear-gradient(to left, #000879, #1500ce);
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.join-discord a{
    color: #ffffff;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(./background-footer.svg);
    background-size: cover;
    font-family: nunito;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


h1{
    font-family: 'Noto Sans', sans-serif;
}
/*----------*/
/*MEDIA SCREEN*/
/*----------*/

/*@media screen and (max-width: 700px){
    .center-info{
        grid-template-columns: 50% 50%;
    }
}*/

@media screen and (max-width: 715px){
    .center-info{
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 715px){
    .center-info-2{
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 1112px){
    footer{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 556px){
    footer{
        grid-template-columns: 100%
    }
}
