*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #1e1e1e;
    color: #ffffff;
}


header{
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 10px #000000;
}

header ul li a{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.warning{
    background-color: #9e0b00;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    position: fixed;
    top: 85%;
    border: solid 1px #a10b00;
}

.warning:hover{
    transition: 300ms;
    box-shadow: 2px 2px 20px #000000;
}

.bj-blue-header{
    background: url(../source/img/Iceberg.png) no-repeat center center/cover;
    text-align: center;
    padding: 9.9%;
    margin: 10px;
    color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.bj-blue-header p{
    font-size: 20px;
}

section{
    margin: 80px 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

.content{
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

.center-info{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: #1e1e1e;
}

.center-info div{
    background-color: #272727;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.center-info-2{    
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    background-color: #1e1e1e;
}

.center-info-2 div{
    background-color: #272727;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.join-discord{
    background: linear-gradient(to left, #000879, #1500ce);
    padding: 30px;
    font-size: 50px;
    text-align: center;
}

.join-discord a{
    color: #ffffff;
}

footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer div{
    background-color: #1e1e1e;
    padding: 10px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

footer div li a{
    color: #999999;
    font-family: 'Roboto', sans-serif;
}
footer div li a:hover{
    color: #ffffff;
}

.footer{
    color: #999999;
    text-align: center;
    background-color: #1e1e1e;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-family: 'Noto Sans', sans-serif;
}
/*----------*/
/*MEDIA SCREEN*/
/*----------*/

@media screen and (max-width: 700px){
    .center-info{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 1112px){
    footer{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 556px){
    footer{
        grid-template-columns: 100%
    }
}
